<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="px-3 bg-[#028090] text-white flex justify-between">
      <p class="py-5">LOGO</p>
      <ul class="flex justify-end space-x-4">
        <li class="py-5 cursor-pointer">Products</li>
        <li class="py-5 cursor-pointer">Sign In/Sign Up</li>
        <li class="py-5 cursor-pointer">Lorem</li>
        <!-- <input type="text"> -->
      </ul>
    </nav>
    <div class="divide-y-2">
      <div class="text-2xl font-bold px-[10] pt-[30px] pb-[5px]">Products</div>

      <!-- Categories and images -->
      <div>
        <div class="products pt-[10px] flex">
          <div class="categories w-56">
            <h2 class="pb-3 px-2 ">Categories&nbsp;&nbsp; ></h2>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
            <div class="pl-9 flex pb-3">
              <p>risus ultricies</p>
              <div class="pl-4">
                <input type="checkbox" />
              </div>
            </div>
          </div>
          <div class="productImages1 pl-9">
            <!-- cdcdccd -->
            <div class="flex">
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
            </div>
            <div class="flex">
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
              <img
                src="../../../public/assets/images/productsPage/Product1.png"
                class="w-40 h-48 m-10"
                alt="Description of the image"
              />
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="../../../public/assets/images/productsPage/Product1.png"
            class="w-40 h-48 m-10"
            alt="Description of the image"
          />
          <img
            src="../../../public/assets/images/productsPage/Product1.png"
            class="w-40 h-48 m-10"
            alt="Description of the image"
          />
          <img
            src="../../../public/assets/images/productsPage/Product1.png"
            class="w-40 h-48 m-10"
            alt="Description of the image"
          />
          <img
            src="../../../public/assets/images/productsPage/Product1.png"
            class="w-40 h-48 m-10"
            alt="Description of the image"
          />
          <img
            src="../../../public/assets/images/productsPage/Product1.png"
            class="w-40 h-48 m-10"
            alt="Description of the image"
          />
          <img
            src="../../../public/assets/images/productsPage/Product1.png"
            class="w-40 h-48 m-10"
            alt="Description of the image"
          />
        </div>
      </div>

      <!-- Footer -->
      <div class="flex justify-between py-10">
        <div class="left px-10">
          <p class="font-bold text-2xl pb-4">LindoGourmet</p>
          <p class="pb-2">Lindogourmet@gmail.com</p>
          <p>502-233-3333</p>
        </div>
        <div class="flex space-x-10 mr-10 ">
          <div class="right justify-end ">
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
          </div>
          <div class="right justify-end">
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
          </div>
          <div class="right justify-end">
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
            <div class="pb-2">Lorem ipsum</div>
          </div>
        </div>
      </div>
      <div>
        &nbsp
      </div>
    </div>

    <div style="width: 1728px; height: 3090px; position: relative; background: white">
        <div style="width: 1728px; height: 92px; left: 0px; top: 0px; position: absolute; background: #028090"></div>
        <div style="width: 50px; height: 50px; left: 1678px; top: 21px; position: absolute"></div>
        <div style="width: 581px; left: 1122px; top: 25px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 52px; display: inline-flex">
          <div style="width: 138px; height: 41px; color: #FEFEFE; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word">Products</div>
          <div style="width: 239px; height: 41px; color: #FEFEFE; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sign in/Sign Up</div>
          <div style="width: 99px; height: 41px; color: #FEFEFE; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word">Lorem</div>
        </div>
        <div style="width: 1728px; height: 1549px; left: -5288px; top: -377px; position: absolute; background: white">
          <div style="width: 1676px; height: 237px; left: 24px; top: 361px; position: absolute; border-radius: 15px; border-left: 1.50px #D9D9D9 solid; border-top: 1.50px #D9D9D9 solid; border-right: 1.50px #D9D9D9 solid; border-bottom: 1.50px #D9D9D9 solid"></div>
          <div style="width: 834px; height: 463px; left: 24px; top: 650px; position: absolute; border-radius: 15px; border-left: 1.50px #D9D9D9 solid; border-top: 1.50px #D9D9D9 solid; border-right: 1.50px #D9D9D9 solid; border-bottom: 1.50px #D9D9D9 solid"></div>
          <div style="width: 770px; height: 463px; left: 930px; top: 647px; position: absolute; border-radius: 15px; border-left: 1.50px #D9D9D9 solid; border-top: 1.50px #D9D9D9 solid; border-right: 1.50px #D9D9D9 solid; border-bottom: 1.50px #D9D9D9 solid"></div>
          <div style="width: 111px; height: 102px; left: 60px; top: 428px; position: absolute">
            <div style="width: 111px; height: 102px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
            <div style="width: 51px; height: 51px; left: 30px; top: 26px; position: absolute">
              <div style="width: 34px; height: 34px; left: 8.50px; top: 8.50px; position: absolute; background: black"></div>
            </div>
          </div>
          <div style="width: 124px; height: 67px; left: 1561px; top: 374px; position: absolute">
            <div style="width: 124px; height: 67px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 10px"></div>
            <div style="width: 47px; height: 24px; left: 39px; top: 21px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Edit</div>
          </div>
          <div style="width: 229px; height: 42px; left: 205px; top: 407px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">hac habitasse</div>
          <div style="width: 347px; height: 50px; left: 37px; top: 661px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Personal Information</div>
          <div style="width: 347px; height: 50px; left: 947px; top: 661px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Account Settings</div>
          <div style="width: 229px; height: 42px; left: 205px; top: 454px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">hac habitasse</div>
          <div style="width: 540px; height: 42px; left: 37px; top: 743px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">First Name: John</div>
          <div style="width: 567px; height: 42px; left: 37px; top: 837px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Last Name: Doe</div>
          <div style="width: 493px; height: 42px; left: 37px; top: 931px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Email: Johndoe@hotmail.com</div>
          <div style="width: 680px; height: 42px; left: 37px; top: 1025px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Phone Number: 523-223-2233</div>
          <div style="width: 229px; height: 42px; left: 205px; top: 501px; position: absolute; color: #5A5A5A; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">hac habitasse</div>
          <div style="width: 387px; height: 35px; left: 947px; top: 720px; position: absolute; color: #5A5A5A; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">varius morbi enim nunc faucibus</div>
          <div style="width: 387px; height: 35px; left: 947px; top: 792px; position: absolute; color: #5A5A5A; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">varius morbi enim nunc faucibus</div>
          <div style="width: 387px; height: 35px; left: 947px; top: 864px; position: absolute; color: #5A5A5A; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">varius morbi enim nunc faucibus</div>
          <div style="width: 387px; height: 35px; left: 947px; top: 936px; position: absolute; color: #5A5A5A; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">varius morbi enim nunc faucibus</div>
          <div style="width: 387px; height: 35px; left: 947px; top: 1008px; position: absolute; color: #5A5A5A; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">varius morbi enim nunc faucibus</div>
          <div style="width: 51px; height: 51px; left: 1390px; top: 712px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
          <div style="width: 51px; height: 51px; left: 1390px; top: 784px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
          <div style="width: 51px; height: 51px; left: 1390px; top: 853px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
          <div style="width: 51px; height: 51px; left: 1390px; top: 926px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
          <div style="width: 51px; height: 51px; left: 1390px; top: 999px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
          <div style="width: 423px; height: 50px; left: 251px; top: 1241px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet</div>
          <div style="width: 221px; height: 50px; left: 1250px; top: 1241px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">541-243-2232</div>
          <div style="width: 423px; height: 50px; left: 251px; top: 1318px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet</div>
          <div style="width: 411px; height: 50px; left: 1060px; top: 1318px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet</div>
          <div style="width: 423px; height: 50px; left: 251px; top: 1395px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet</div>
          <div style="width: 423px; height: 50px; left: 251px; top: 1472px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet</div>
          <div style="width: 1220px; height: 0px; left: 256px; top: 1186px; position: absolute; border: 1.50px #D9D9D9 solid"></div>
          <div style="width: 1220px; height: 0px; left: 251px; top: 1186px; position: absolute; border: 1.50px #D9D9D9 solid"></div>
        </div>
        <div style="width: 1704px; height: 0px; left: 0px; top: 344px; position: absolute; border: 1.50px #D9D9D9 solid"></div>
        <div style="width: 289px; height: 77px; left: 10px; top: 237px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">Products</div>
        <div style="width: 231px; height: 63px; left: 28px; top: 404px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 600; word-wrap: break-word">Categories</div>
        <div style="width: 1203.94px; height: 0px; left: 1703px; top: 338px; position: absolute; transform: rotate(90.01deg); transform-origin: 0 0; border: 1.50px #D9D9D9 solid"></div>
        <div style="width: 35px; height: 48px; left: 282px; top: 404px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 600; word-wrap: break-word">></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 510px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 847px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1184px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 624px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 961px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1298px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 738px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1075px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1412px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1534px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1656px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 51px; height: 51px; left: 422px; top: 1778px; position: absolute; border-radius: 10px; border-left: 2px #D9D9D9 solid; border-top: 2px #D9D9D9 solid; border-right: 2px #D9D9D9 solid; border-bottom: 2px #D9D9D9 solid"></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 514px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 851px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1188px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 628px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 965px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1302px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 742px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1079px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1416px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1538px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1660px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 239px; height: 43px; left: 130px; top: 1782px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">risus ultricies<br/></div>
        <div style="width: 1220px; height: 0px; left: 254px; top: 2657px; position: absolute; border: 1.50px #D9D9D9 solid"></div>
        <div style="width: 385px; height: 0px; left: 374px; top: 2657px; position: absolute; border: 2px black solid"></div>
        <div style="width: 1514px; height: 314px; left: 130px; top: 2760px; position: absolute">
          <div style="width: 1514px; height: 0px; left: 0px; top: 0px; position: absolute; border: 1.50px rgba(80, 80, 80, 0.75) solid"></div>
          <div style="width: 1514px; height: 0px; left: 0px; top: 312px; position: absolute; border: 1.50px rgba(80, 80, 80, 0.75) solid"></div>
          <div style="width: 305px; height: 160px; left: 0px; top: 66px; position: absolute"><span style="color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">LindoGourmet<br/><br/></span><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lindogourmet@gmail.com<br/><br/>502-233-3333</span></div>
          <div style="width: 141px; height: 182px; left: 1373px; top: 66px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Lorem ipsum<br/><br/>Lorem ipsum<br/><br/>Lorem ipsum<br/><br/>Lorem ipsum<br/><br/></div>
          <div style="width: 141px; height: 182px; left: 1171px; top: 66px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Lorem ipsum<br/><br/>Lorem ipsum<br/><br/>Lorem ipsum<br/><br/>Lorem ipsum<br/><br/></div>
          <div style="width: 141px; height: 182px; left: 969px; top: 66px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Lorem ipsum<br/><br/>Lorem ipsum<br/><br/>Lorem ipsum<br/><br/>Lorem ipsum<br/><br/></div>
        </div>
        <img style="width: 412px; height: 544px; left: 130px; top: 2035px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 588px; top: 2035px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 1046px; top: 2035px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 1504px; top: 2035px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 634px; top: 404px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 1191px; top: 404px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 634px; top: 1052px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
        <img style="width: 412px; height: 544px; left: 1191px; top: 1052px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/412x544" />
      </div>
    </div>
   -->
  </body>
</html>
