/* table, th, td{
    border: 1px solid black;
  } */

*{
    text-align: left;
}

.catpage__title{
    margin: 30px;
    font-size: 300%;;
}

.catpage__categories{
    /* border-bottom: 2px solid #cecece; */
    margin-left: 20%;
    margin-bottom: 5%;
}

.catpage__categoryname{
    color: black;
    vertical-align: top;
    font-size: 200%;
    padding-right: 50px;
}

.catpage__categories:hover{
    transform: scale(1.05);
}

