.contact__title{
    font-size: 200%;
    margin: 10px;
}

.contact__content{
    font-size: 100%;
    margin-left: 150px;
    margin-right: 150px;
}

.contact__input{
    font-weight: bold;
    margin-left: 150px;
    margin-top: 10px;
}

.contact__input input, select{
    position: absolute;
}

.contact__submit{
    position: relative;
    left: 150px;
}

.contact__input textarea{
    position: relative;
    width: 100px;
}