/* Main header */
.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo{
  width:150px;
  object-fit: contain;
}

.header__searchbar {
  display: flex;
  height: 20px;
  justify-content: flex-end;
}
.header__searchbar input {
  position: relative;
  padding: 0px 25px 0px 0px;
  width: 250px;
}
.header__searchbar .header__searchIcon {
  position: absolute;
}

.dropdown-content {
  display: none;
}

.header__menuButton {
  display: none;
}



/* Subheader */
.header2 {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__linkContainer{
  display: flex;
  width: 30%;
  justify-content: space-between;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 732px) {
  .header2 {
    display: none;
  }
  .header__searchbar {
    display: none;
  }
  .header__searchbar input {
    display: none;
  }
  .dropdown {
    display: none;
  }
}
