.header__link{
  color: black;
  font-size: 20px;
  line-height: 24.2px;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin-left: 48px;
  margin-right: 48px;
}

.header__link:hover{
  text-decoration: underline;
  color: #FF3A3A;
}