/* Main header */
.header {
  margin-top: 17px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  
}

.header__logo{
  width:150px;
  object-fit: contain;
}

.header__searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #6D6D6D;;
  
}
.header__searchbar input {
  /* display: flex; */
  padding: 0px 25px 0px 0px;
  width: 250px;
  background: #E9E9E9;
  border-radius: 30px;
  height: 27px;
  border: none;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

.search-button{
  background: transparent;
  border: none;
  outline: none;
  margin-left: -35px;
  margin-bottom: 22px;
  color: #6D6D6D;;
}

.header__searchIcon {
  position: absolute;
}

.dropbtn{
  margin-left: 30px;
  border: none;
  outline: none;
  background: transparent;
}

.dropdown-content {
  border: none;
  outline: none;
  background: transparent;
  display: none;
}

.header__menuButton {
  display: none;
}

/* Subheader */
.header2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 46px;
}

.header__linkContainer{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 732px) {
  .header{
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .header2 {
    display: none;
  }
  .header__searchbar {
    display: none;
  }
  .header__searchbar input {
    display: none;
  }
  .dropdown {
    display: none;
  }
}
