.header__menuButton {
  display: none;
}

@media (max-width: 732px) {
  .header__menuButton {
    display: block;
  }
 }

.moblieNav{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: gray;
  z-index: 100;
}

.mobileNav__linkContainer {
  display: flex;
  flex-direction: column;
}
