.Pagebottom{
    text-align: center;
}

.pagebottom__lindogourmet{
    text-align: center;
    /* color: red; */
    padding: 0px;
    margin: 3px;
}
.pagebottom__phone{
    text-align: center;
    padding: 0px;
    margin: 3px;
    
}

.pagebottom__email{
    text-align: center;
    padding: 0px;
    margin: 3px;
}

.pagebottom__address{
    text-align: center;
    padding: 0px;
    margin: 3px;
    font-size: 90%;
}
