/* table, th, td{
    border: 1px solid black;
  } */

*{
    text-align: left;
}

.product__title{
    font-size: 300%;
    margin: 10px;
}

.product__longdscrpt{
    font-size: 150%;
    margin-left: 100px;
    margin-right: 100px;
}

.product__input{
    font-weight: bold;
    margin-left: 100px;
    margin-top: 10px;
}

.product__input2{
    position:relative;
    left: 0px;
}

.product__submit{
    position: relative;
    left: 0px;
}
