.term__title1{
    font-size: 200%;
    margin: 10px;
}

.term__title2{
    font-size: 150%;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.term__content{
    font-size: 100%;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
}